elpa/
transient/
transient/.*
assets/.*
assets/.savehist
assets/.sessions
assets/.cache/
assets/custom.el
assets/ditaa0_9.jar
assets/plantuml.jar
assets/forge-database.sqlite
anaconda-mode/
\.cache/.*
\.cache/
\.DS_store
\#.*
